*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
header
{
    background-image: url(4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul
{
    list-style: none;
    float: right;
    margin: 20px;
}
ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;

}
ul li a
{
    position: relative;
    text-decoration: none;
    color: rgb(222, 232, 233);
    padding: 0 10px;
}
a:after
{
    content: '';
    position: absolute;
    background-color: rgb(18, 225, 240);
    height: 2px;
    width: 0%;
     left: 0;
    bottom: -10px;
    transition: 0.5s  ease;
}
a:hover:after
{
    width: 100%;
}
.p
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;


}
button
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(9, 217, 245);
    border: none;
    background:transparent;
    font-size: 50px;
}
button:hover
{
    background-color: #fff;
}
